#ignore keys folder
keys/*

# #ignore terrafom state files
# *.tfstate

# #ignore all pubkeys
# *.pub

# #ignore all private keys
# *.pem

#ignore .terraform folder
/.terraform
.terraform/
.terraform
.terrafom.lock.hcl